<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Business.Properties.Settings>
        <setting name="Business_WebReference_WS_Gen_Pdf" serializeAs="String">
            <value>http://192.168.20.89:8091/WS_Gen_Pdf.asmx</value>
        </setting>
        <setting name="HostBanamex" serializeAs="String">
            <value>192.168.20.111</value>
        </setting>
        <setting name="UserBanamex" serializeAs="String">
            <value>sftpbnmx</value>
        </setting>
        <setting name="PasswordBanamex" serializeAs="String">
            <value>B4n4m3x</value>
        </setting>
        <setting name="WorkFolderBanamex" serializeAs="String">
            <value>/upload</value>
        </setting>
        <setting name="PortBanamex" serializeAs="String">
            <value>22</value>
        </setting>
    </Business.Properties.Settings>
  </applicationSettings>

</configuration>