<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings><add name="PagosEntities" connectionString="metadata=res://*/Model.PagosModel.csdl|res://*/Model.PagosModel.ssdl|res://*/Model.PagosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.29;initial catalog=Pagos;user id=sa;password=S0p0rt3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>